/.idea/.gitignore
/go_fast/.idea/.gitignore
/aab-test/.ipynb_checkpoints/aab_test-checkpoint.ipynb
/ab_test/.ipynb_checkpoints/ab-test-checkpoint.ipynb
/bank_data/bank_data.iml
/bank_data/.ipynb_checkpoints/bank_data-checkpoint.ipynb
/big_cities_music/big_cities_music.iml
/.idea/data-analysis.iml
/go_fast/.idea/go_fast.iml
/go_fast/.ipynb_checkpoints/go_fast-checkpoint.ipynb
/.idea/misc.xml
/go_fast/.idea/misc.xml
/.idea/modules.xml
/go_fast/.idea/modules.xml
/moscow_restaurants/.ipynb_checkpoints/moscow_restaurants-checkpoint.ipynb
/big_cities_music/.ipynb_checkpoints/music_project-checkpoint.ipynb
/procrastinate_pro/.ipynb_checkpoints/procrastinate-pro-checkpoint.ipynb
/ab_test/.ipynb_checkpoints/README-checkpoint.md
/real_estate/.ipynb_checkpoints/real_estate_project-checkpoint.ipynb
/video_games/.ipynb_checkpoints/strimchik-checkpoint.ipynb
/real_estate/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.idea/vcs.xml
/go_fast/.idea/vcs.xml
